.my-nav a{
    text-decoration: none;
    margin-right: 40px ;
    color: black; 
 }
 .primary-btn{
     background-color:#474747;
     padding: 8px 24px;
     border: radius 5px;
     color: #fff;
 }
 .primary-btn:hover{
     background-color:black;
     color: orange;
 }