.my-nav a{
    text-decoration: none;
    margin-right: 40px ;
    color: black; 
 }
 .primary-btn{
     background-color:#474747;
     text-align: center;
     padding: 4px 22px;
     border: radius 3px;
 }
 .primary-btn:hover{
     background-color:black;
     color: orange;
 }